body{
    background-color: rgb(207, 209, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive;
}
#container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}
#numOne, #numTwo{
    border-radius: 5px;
    padding: 3px;
}
#buttonOne{
    margin-top: 5px;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(167, 145, 48);
    color: white;
    
    
}
#buttonOne:hover{
    background-color: cadetblue;
    color: white;
    
}
#message{
    font-weight: bold;
    font-size: 30px;
    color: rgb(75, 204, 161);

    
}