body{
    background-color: rgb(95, 182, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive;
}
#container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}
#num{
    border-radius: 5px;
    padding: 3px;
}
#buttonOne{
    margin-top: 5px;
    border-radius: 10px;
    padding: 8px;
    
    
}
#buttonOne:hover{
    background-color: cadetblue;
    color: white;
    
}
#message{
    font-weight: bold;
    font-size: 50px;

    
}